
.Navbar {
    background-color: aqua;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: max-content auto max-content;
    grid-template-areas: logo menu;
    justify-items: stretch;
    align-items: stretch;
}